################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/FoodChain/FoodChain.UWP/obj
/FoodChain/FoodChain.Android/obj
/FoodChain/FoodChain.Android/bin/Debug
/.vs/FoodChain/v15/Server/sqlite3
